# 2. Data processing
----

In [2]:
# LIBRARIES
import pandas as pd 
# DATASET
total_data = pd.read_csv('../data/raw/california_housing.csv')
total_data.head(3)

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,MedHouseVal
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521

1. Since only 'Latitude', 'Longitude' y 'MedInc' are needed for the dataset, the rest of the columns will be deleted:

In [6]:
desired_columns = ['Latitude','Longitude','MedInc']
total_data = total_data[desired_columns]

2. Spliting the dataset into 'train' and 'test':

In [8]:
# SPLIT DATASET INTO TRAIN AND TEST
from sklearn.model_selection import train_test_split
X = total_data[['Latitude', 'Longitude', 'MedInc']]
X_train, X_test = train_test_split(X, test_size=0.2, random_state=42)

# SAVE TRAIN AND TEST DATA
X_train.to_csv('../data/processed/train_data.csv',index=False)
X_test.to_csv('../data/processed/test_data.csv',index=False)

### End of data processing

---